<title>wheelist</title>

<h1>This is images/user nested route!</h1>
<h1><%= @user.user_name %></h1>

<%= button_to "Link a photo", new_image_path, method: :get %>

<div class="clearfix">
	<h2>Images that <%= @user.user_name %> linked</h2>
	<%= render @user.images %>

	<h2>Images that <%= @user.user_name %> parked</h2>
</div>