<div class="image-tile">
	<div class="image">
		<%= link_to(image_tag(image.url), image_path(image)) %>
	</div>

	<div class="image-footer">
		<div class="image-car">
			<% unless image.car_tags.empty? %>
				<h3>
					<%= image.car_tags.first.car_model.car_mfg.mfg %>
					<%= image.car_tags.first.car_model.model %>
					<%= image.car_tags.first.car_color.color %>
					<%= image.user.user_name %>
				</h3>
			<% end %>
		</div>

	</div>


</div>