<div class="image-tile">
  <div class="image-frame <%= image.car_tags.first.car_color.color.downcase %>">
  	<div class="image">
  		<%= link_to(image_tag(image.url), image_path(image)) %>
  	</div>
  </div>

	<div class="image-footer <%= image.wheel_tags.first.wheel_color.color.downcase %>">
		<div class="image-description">
        <h3>
			    <% unless image.car_tags.empty? %>
					  <%= image.car_tags.first.car_model.car_mfg.mfg %>
					  <%= image.car_tags.first.car_model.model %>
          <% end %>
          <% unless image.wheel_tags.empty? %>
            on
            <%= image.wheel_tags.first.wheel_model.wheel_mfg.mfg %>
            <%= image.wheel_tags.first.wheel_model.model %>
					  <%#= image.car_tags.first.car_color.color %>
			    <% end %>
        </h3>
		</div>
		<div class="image-post-info">
      <p>
        posted
        <% unless image.user.nil? %>
          by <strong><%= image.user.user_name %></strong>
        <% end %>
        <em><%= time_ago_in_words(image.created_at) %> ago</em>
      </p>
    </div>
    <span class="image-like">
      <span class="like-button <%= "liked" if current_user && image.image_likes.where(:user_id => current_user.id).present? %>">
        
        <% if current_user %>
          <%= link_to raw("<i class=\"icon-wrench icon-white\"></i> Unlike"),
            unlike_image_path(image),
            id: "unlike_image_#{image.id}",
            class: 'unlike-btn btn btn-primary btn-small',
            remote: true,
            method: :delete %>

          <%= link_to raw("<i class=\"icon-wrench icon-white\"></i> Like"),
            like_image_path(image),
            id: "like_image_#{image.id}",
            class: 'like-btn btn btn-primary btn-small',
            remote: true,
            method: :post %>

        <% else %>
          <%= link_to raw("<i class=\"icon-wrench icon-white\"></i> Like"),
            new_user_session_path,
            id: "like_image_#{image.id}",
            class: 'btn btn-primary btn-small' %>
        <% end %>          
      </span>
      <span class="like-count">
        <%= image.image_likes_count %>
      </span>
    </span>
    <span class="btn btn-primary btn-small">Comments</span>
    <span class="comment-count">
        <%= image.comments_count %>
    </span>

	</div>
</div>