<div class="image-tile">
	<div class="image">
		<%= link_to(image_tag(image.url), image_path(image)) %>
	</div>
	<div class="color-patch" style="background: <%= image.car_tags.first.car_color.color %>">
	</div>
	<div class="image-footer">
		<div class="image-car">
			<% unless image.car_tags.empty? %>
				<h4>
					<%= image.car_tags.first.car_model.car_mfg.mfg %>
					<%= image.car_tags.first.car_model.model %><br>
					<%= image.car_tags.first.car_color.color %><br>
					<%= image.user.user_name %>
				</h4>
			<% end %>
		</div>
		<div class="image-timestamp muted">
      <em><small><%= time_ago_in_words(image.created_at) %> ago</small></em>
    </div>
    <div class="image-like">
      <span class="like-button">
        <%= link_to raw("<i class=\"icon-wrench icon-white\"></i> Like"),
          like_image_path(image),
          id: "like_image_#{image.id}",
          class: 'btn btn-primary btn-small',
          remote: true,
          method: :post %>
      </span>
      <span class="like-count">
      	<%= image.image_likes.count %>
      </span>
    </div>
	</div>
</div>