<div class="search-form-wrapper">

	<% search_form_class = 'form-horizontal clearfix'
	search_form_class += ' search-form-show' if @dropdown %>

	<%= simple_form_for(@image, :url => search_images_path,
															:method => :get,
															:remote => true,
															:html => { id: 'search-form',
																				 class: search_form_class }) do |f| %>

		<%= f.simple_fields_for :car_tags do |car_tag| %>
			<% car_mfgs = CarMfg.all.map { |car_mfg| ["#{car_mfg.mfg}
																			- #{car_mfg.id}", car_mfg.id] } %>

			<%#= f.input :car_mfg_id, collection: car_mfgs.sort, input_html:
			{ name: "anything" } %>

			<%# car_models = CarModel.all.map { |car_model| ["#{car_model.year}
											#{car_model.model} - #{car_model.id}", car_model.id] } %>

			<div class="car-inputs">
				<% car_models = CarModel.all
																.select { |car_model|
																	CarTag.where(:car_model_id => car_model.id).exists? }
																.map { |car_model| ["#{car_model.year} #{car_model.model}
																				 - #{car_model.id}", car_model.id] } %>

				<%= car_tag.input :car_model_id, collection: car_models.sort %>

				<%# car_colors = CarColor.all.map { |car_color| ["#{car_color.paint_name}
													 - #{car_color.color } - #{car_color.id}", car_color.id] } %>

				<% car_colors = CarColor.all
																.select { |car_color|
																	CarTag.where(:car_color_id => car_color.id).exists? }
																.map { |car_color| ["#{car_color.paint_name} -
																	#{car_color.color } - #{car_color.id}", car_color.id] } %>

				<%= car_tag.input :car_color_id, collection: car_colors.sort %>
			</div>
		<% end %>

		<%= f.simple_fields_for :wheel_tags do |wheel_tag| %>

			<div class="wheel-inputs model-size">
				<% wheel_models = WheelModel.all
																		.select { |wheel_model|
																			WheelTag.where(:wheel_model_id => wheel_model.id).exists? }
																		.map { |wheel_model| ["#{wheel_model.model}
																			- #{wheel_model.id}", wheel_model.id] } %>

				<%= wheel_tag.input :wheel_model_id, collection: wheel_models.sort %>

				<% wheel_sizes = WheelSize.all
																	.select { |wheel_size|
																		WheelTag.where(:wheel_size_id => wheel_size.id).exists? }
																	.map { |wheel_size| ["#{wheel_size.diameter}
									x #{wheel_size.width} - #{wheel_size.id}", wheel_size.id] } %>

				<%= wheel_tag.input :wheel_size_id, collection: wheel_sizes.sort %>
			</div>

			<div class="wheel-inputs offset-color">
				<% wheel_offsets = WheelOffset.all
																			.select { |wheel_offset|
																				WheelTag.where(:wheel_offset_id => wheel_offset.id).exists? }
																			.map { |wheel_offset|
						["#{wheel_offset.offset} - #{wheel_offset.id}", wheel_offset.id] } %>

				<%= wheel_tag.input :wheel_offset_id, collection: wheel_offsets.sort %>

				<% wheel_colors = WheelColor.all
																		.select { |wheel_color|
																			WheelTag.where(:wheel_color_id => wheel_color.id).exists? }
																		.map { |wheel_color|
					["#{wheel_color.paint_name} - #{wheel_color.color} - #{wheel_color.id}",
						wheel_color.id] } %>

				<%= wheel_tag.input :wheel_color_id, collection: wheel_colors.sort %>
			</div>
		<% end %>

		<%= f.submit "Search", class: "btn btn-primary btn-small", id: "search-btn" %>
	<% end %>

	<div class="image-order-toggler">
		<a href="#" id="most-popular" class="btn">Popular</a>
		<a href="#" id="most-recent" class="btn btn-pressed">Latest</a>
	</div>
</div>


<div id="images" class="<%= 'dropdown' if @dropdown %>">
	<% unless @images.empty? %>
		<%= render @images %>
	<% else %>
		<h1>Sorry, no matches found.</h1>
	<% end %>
	<%= paginate @images, :remote => true %>
</div>


<script>
	$(function() {
		// setting the Simple_Form above to remote:true turns it into an ajax request
		$('#search-form select').change(function(event){
			$('#search-form').submit();
		});

		$('#search-form').on('ajax:success', function(event, data) {
			$('#images').html(data);
		} );

		// like-button link is set to remote: true, which turns it into an ajax request
		// $('.like-button a').on('ajax:success', function(event, data) {
		// 	$(this).closest('.image-like').find('.like-count').html(data);
		// });

		// $('#images').on('ajax:success', '.like-button a', function(event, data) {
		// 	console.log(this);
		// 	console.log(data);
		// 	$(this).closest('.image-like').find('.like-count').html(data);
		// });

		$('#images').on('ajax:success', '.like-button a', function(event, data) {
			console.log(this);
			console.log($(this).closest('.like-button'));
			console.log(data);

			if($(this).closest('.like-button').hasClass('liked')) {
				$(this).closest('.like-button').removeClass('liked');
			} else {
				$(this).closest('.like-button').addClass('liked');
			};

			$(this).closest('.image-tile').find('.like-count').html(data + ' likes');
		});

		$('#most-popular').click(function() {
			var form_params = $('#search-form').serializeArray();
			form_params.push({ name: 'most_popular', value: true });

			$.get('/images/search', form_params, function(data) {
				$('#images').html(data);
			} );

			$(this).addClass('btn-pressed');
			$('#most-recent').removeClass('btn-pressed');

		});

		$('#most-recent').click(function() {
			var form_params = $('#search-form').serializeArray();

			$.get('/images/search', form_params, function(data) {
				$('#images').html(data);
			} );

			$(this).addClass('btn-pressed');
			$('#most-popular').removeClass('btn-pressed');
		});

		$('.nav-search-btn').click(function(event) {
			if($('#search-form').length == 0) {
				return true;
			} else {
				event.preventDefault();
			}

			if($('#search-form').is(':visible')) {
				$('#search-form').slideUp('slow');
				$('#images').animate({ 'margin-top': '40px' });
				// $('#search-form').removeClass('search-form-show');
				// $('#images').removeClass('dropdown');
			} else {
				$('#search-form').slideDown('slow');
				$('#images').animate({ 'margin-top': '140px' });
			};

		});

		$('#images').on('ajax:success', '.pagination li', function(event, data) {
				console.log(data);
				$('#images').html(data);
				$('html, body').animate({ scrollTop: 0}, 800);
			});

	});

</script>