<div class="search-form-wrapper">
	<%= simple_form_for(@image, :url => search_images_path, :method => :get, 
											:remote => true, html: { id: 'search-form', class: 'clearfix form-horizontal' }) do |f| %>


		<%= f.simple_fields_for :car_tags do |car_tag| %>

			<% car_mfgs = CarMfg.all.map { |car_mfg| ["#{car_mfg.mfg}
																			- #{car_mfg.id}", car_mfg.id] } %>

			<%#= f.input :car_mfg_id, collection: car_mfgs.sort, input_html:
			{ name: "anything" } %> 

			<%# car_models = CarModel.all.map { |car_model| ["#{car_model.year} #{car_model.model} - #{car_model.id}", car_model.id] } %>

		<div class="car-inputs">
			<% car_models = CarModel.all
															.select { |car_model| 
																CarTag.where(:car_model_id => car_model.id).exists? }
															.map { |car_model| ["#{car_model.year} #{car_model.model} - #{car_model.id}", car_model.id] } %>

			<%= car_tag.input :car_model_id, collection: car_models.sort %>

			<%# car_colors = CarColor.all.map { |car_color| ["#{car_color.paint_name} - #{car_color.color } - #{car_color.id}", car_color.id] } %>

			<% car_colors = CarColor.all
															.select { |car_color|
																CarTag.where(:car_color_id => car_color.id).exists? }
															.map { |car_color| ["#{car_color.paint_name} - 
																#{car_color.color } - #{car_color.id}", car_color.id] } %>


			<%= car_tag.input :car_color_id, collection: car_colors.sort %>
		</div>

		<% end %>

		<%= f.simple_fields_for :wheel_tags do |wheel_tag| %>

		<div class="wheel-inputs model-size">
			<% wheel_models = WheelModel.all.map { |wheel_model| ["#{wheel_model.model} 
					- #{wheel_model.id}", wheel_model.id] } %>
			
			<%= wheel_tag.input :wheel_model_id, collection: wheel_models.sort %>

			<% wheel_sizes = WheelSize.all.map { |wheel_size| ["#{wheel_size.diameter}
					x #{wheel_size.width} - #{wheel_size.id}", wheel_size.id] } %>

			<%= wheel_tag.input :wheel_size_id, collection: wheel_sizes.sort %>
		</div>

		<div class="wheel-inputs offset-color">
			<% wheel_offsets = WheelOffset.all.map { |wheel_offset|  
					["#{wheel_offset.offset} - #{wheel_offset.id}", wheel_offset.id] } %>

			<%= wheel_tag.input :wheel_offset_id, collection: wheel_offsets.sort %>

			<% wheel_colors = WheelColor.all.map { |wheel_color| 
				["#{wheel_color.paint_name} - #{wheel_color.color} - #{wheel_color.id}",
					wheel_color.id] } %>

			<%= wheel_tag.input :wheel_color_id, collection: wheel_colors.sort %>
		</div>
		<% end %>

<!-- 		<p>Car Tags:</p>

		<div class="cartag-dropdown">
			<input id="cartag-input" type="text">
			<ul class="dropdown-list"></ul>
		</div>

		<div class="cartag-dropdown">
			<input id="carcolortag-input" type="text">
			<ul class="carcolor-dropdown-list"></ul>
		</div>

		<div class="chosen-cartag">
		</div> -->

		<%= f.submit "Search", class: "btn btn-primary btn-small", id: "search-btn" %>
	<% end %>
</div>



<div class="image-order-toggler">
	<a href="#" id="most-popular" class="btn">Sort by Most Popular</a>
	<a href="#" id="most-recent" class="btn btn-pressed">Sort by Most Recent</a>
</div>

<div id="images">
	<% unless @images.empty? %>
		<%= render @images %>
	<% else %>
		<h1>Sorry, no matches found.</h1>
	<% end %>
</div>

<%= paginate @images %>



<script>
	$(function() {
		// setting the Simple_Form above to remote:true turns it into an ajax request
		$('#search-form select').change(function(event){
			$('#search-form').submit();
		});

		$('#search-form').on('ajax:success', function(event, data) {
			$('#images').html(data);
		} );

		// like-button link is set to remote: true, which turns it into an ajax request
		// $('.like-button a').on('ajax:success', function(event, data) {
		// 	$(this).closest('.image-like').find('.like-count').html(data);
		// })

		$('#images').on('ajax:success', '.like-button a', function(event, data) {
			console.log(this);
			$(this).closest('.image-like').find('.like-count').html(data);
		})

		$('#most-popular').click(function() {
			var form_params = $('#search-form').serializeArray();
			form_params.push({ name: 'most_popular', value: true });

			$.get('/images/search', form_params, function(data) {
				$('#images').html(data);
			} );

			$(this).addClass('btn-pressed');
			$('#most-recent').removeClass('btn-pressed');
		});

		$('#most-recent').click(function() {
			var form_params = $('#search-form').serializeArray();

			$.get('/images/search', form_params, function(data) {
				$('#images').html(data);
			} );

			$(this).addClass('btn-pressed');
			$('#most-popular').removeClass('btn-pressed');
		});

		$('.nav-search-btn').click(function() {
			console.log('hi');
			if($('#search-form').is(':visible')) {
				$('#search-form').slideUp('slow');				
			} else {
				$('#search-form').slideDown('slow');
			};

		});


		// $.get("/cars.json", function(data) {
		// 	console.log(data);

		// 	carMfg = [];
		// 	carModel = [];
		// 	carColor = [];

		// 	$.each(data, function() {
		// 		carMfg.push(this.mfg);
		// 		carModel.push(this.model);
		// 		carColor.push(this.official_color);
		// 	})
		// 	console.log(carMfg);
		// 	console.log(carModel);
		// 	console.log(carColor);
		// 	cartags = data;
		// });

		$('#cartag-input').focus(function(event) {
			$('.dropdown-list').empty().show();

			// $.each(cartags, function() {
			// 	$('.dropdown-list').append('<li data-tag-id="' + this.id + '">' + this.year + ' ' + this.mfg + ' ' + this.model + ' ' +
   //        this.official_color + '</li>' )
			// })
			$.each(modifiedCarList, function() {
				$('.dropdown-list').append('<li>' + this + '</li>')
			})
		});

		$('#cartag-input').blur(function(event) {
			window.setTimeout(function() {
				$('.dropdown-list').hide();
			}, 200);
		});

		$('#cartag-input').keyup(autoCompleteHandler);

		function autoCompleteHandler(event) {
			string = $(this).val().toLowerCase();

			$('.dropdown-list').empty();

			for(var i in cartags) {
				if (cartags[i].mfg.toLowerCase().match(string)) {
					$('.dropdown-list').append(
						$('<li data-tag-id="' + cartags[i].id + '">' + cartags[i].year + ' ' + cartags[i].mfg + ' ' + cartags[i].model + ' ' + 
							cartags[i].official_color + '</li>')
							// .addClass("listOption")
					)
				};
			}
		};
			
		$('.dropdown-list').on('click', 'li', function() {
			console.log(this);
			console.log($(this).text());
			console.log($(this).attr('data-tag-id'));

			$('#cartag-input').val($(this).text());

			$('.chosen-cartag').append($(this).text() + " ");


		});

		$('.carcolor-dropdown-list').on('click', 'li', function() {
			console.log(this);
			console.log($(this).text());

			$('#carcolortag-input').val($(this).text());

			$('.dropdown-list').empty();

			modifiedCarList = [];
			for(var i in cartags) {
				if (cartags[i].official_color == $(this).text()) {
					$('.dropdown-list').append('<li>' + cartags[i].mfg + ' ' +
						cartags[i].model + ' ' + cartags[i].official_color + '</li>' )
						.hide();
					modifiedCarList.push(cartags[i].mfg + ' ' +
						cartags[i].model + ' ' + cartags[i].official_color)
					console.log('found a color match');

				}
			};
				console.log(modifiedCarList);
		});


		$('#carcolortag-input').focus(function(event) {
			$('.carcolor-dropdown-list').empty().show();

			$.each(carColor, function() {
				$('.carcolor-dropdown-list').append('<li>' + this + '</li>' )
			})
		});

		$('#carcolortag-input').blur(function(event) {
			window.setTimeout(function() {
				$('.carcolor-dropdown-list').hide();
			}, 200);
		});

		$('#carcolortag-input').keyup(colorAutoCompleteHandler);

		function colorAutoCompleteHandler(event) {
			string = $(this).val().toLowerCase();

			$('.carcolor-dropdown-list').empty();

			for(var i in carColor) {
				if (carColor[i].toLowerCase().match(string)) {
					$('.carcolor-dropdown-list').append(
						$('<li>' + carColor[i] + '</li>')
							// .addClass("listOption")
					)
				};
			}
		};

	});

</script>