<% unless @image.car_tags.empty? %>
	<h2><%= @image.car_tags.first.car_model.car_mfg.mfg %>
			<%= @image.car_tags.first.car_model.model %><br>
			<%= @image.car_tags.first.car_color.color %><br>
      <%= @image.caption %>
	</h2>
<% end %>

<%= image_tag(@image.url) %>